.search-input {
  width: 0px; /* 처음에 검색창을 숨깁니다. */
  transition: width 0.3s ease, opacity 0.3s ease; /* 애니메이션으로 크기와 투명도 변경 */
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  opacity: 0; /* 처음에 투명하게 */
}

.search-input.active {
  width: 300px; /* 검색창이 넓어질 때의 크기 */
  opacity: 1; /* 검색창이 나타나게 */
}
