.houseworkTitle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
}

.addButton {
    margin-bottom: 20px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.addButton:hover {
    background-color: #0056b3;
}

.taskSection {
    margin-bottom: 30px;
}

.taskSection h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.taskSection ul {
    list-style-type: none;
    padding: 0;
}

.taskSection li {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.completed {
    text-decoration: line-through;
    color: grey;
}

.houseworkModal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.houseworkModal h2 {
    margin-bottom: 20px;
}

.houseworkModal select,
.houseworkModal input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.houseworkModalButton {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s;
}

.houseworkModalButton:hover {
    background-color: #218838;
}

.houseworkOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}