/* Global */

:root {
  /* Header */
  --header-height: 72px;
  /* LeftSidebar */
  --leftSidebar-width: 230px;
  --leftSidebarSmall-width: 60px;
  /* RightSidebar */
  --rightSidebar-width: 250px;

  /* Color */
  --color-coral: #e1888b;
  --color-peach: #f0b49c;
  --color-maize: #f5d0a3;
  --color-turquoise-green: #b4fab3;
  --color-pale-blue: #b6cfe2;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-grey: #737373;

  /* Font size */
  --font-sm: 0.875rem;
  --font-md: 1rem;
  --font-lg: 1.125rem;
  --font-xl: 1.25rem;
  --font-2xl: 1.5rem;
  --font-3xl: 1.75rem;
  --font-4xl: 2rem;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;
  --space-xl: 2rem;

  /* radius */
  --radius-sm: 0.5rem;
  --radius-md: 1rem;
  --radius-lg: 1.5rem;

  /* z-index */
  --z-0: 0;
  --z-10: 10;
  --z-20: 20;
  --z-30: 30;
  --z-40: 40;
  --z-50: 50;
  --z-60: 60;
  --z-70: 70;
  --z-80: 80;
  --z-90: 90;

  /* Animation */
  --animation-duration: 150ms;

  /* fullCallendar*/
  --fc-small-font-size: 0.8em;
  --fc-page-bg-color: #fff;
  --fc-neutral-bg-color: rgba(208, 208, 208, 0.3);
  --fc-neutral-text-color: #501818;
  --fc-border-color: #ddd;

  --fc-button-text-color: #fff;
  --fc-button-bg-color: var(--color-coral);
  --fc-button-border-color: none;
  --fc-button-hover-bg-color: #da696d;
  --fc-button-hover-border-color: none;
  --fc-button-active-bg-color: #d85156;
  --fc-button-active-border-color: none;

  --fc-event-bg-color: var(--color-pale-blue);
  --fc-event-border-color: none;
  --fc-event-text-color: #fff;
  --fc-event-selected-overlay-color: rgba(0, 0, 0, 0.25);

  --fc-more-link-bg-color: #d0d0d0;
  --fc-more-link-text-color: inherit;

  --fc-event-resizer-thickness: 8px;
  --fc-event-resizer-dot-total-width: 8px;
  --fc-event-resizer-dot-border-width: 1px;

  --fc-non-business-color: rgba(215, 215, 215, 0.3);
  --fc-bg-event-color: rgb(143, 223, 130);
  --fc-bg-event-opacity: 0.5;
  --fc-highlight-color: rgba(188, 232, 241, 0.3);
  --fc-today-bg-color: rgba(255, 220, 40, 0.15);
  --fc-now-indicator-color: red;
}

/* Universal tags */

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */

h1 {
  font-size: var(--font-4xl);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-3xl);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-2xl);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-md);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

.modalFooter {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.cancelButton,
.saveButton {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.cancelButton {
  background-color: #f0f0f0;
}

.saveButton {
  background-color: #ff4d4d;
  color: white;
}

/* fullCalendar tags */
.fc {
  background-color: var(--calendar-bg-color);
  color: var(--calendar-text-color);
}

.fc .fc-daygrid-day-number {
  color: var(--primary-color); /* 날짜 숫자 색상 */
}

.fc .fc-toolbar-title {
  color: var(--secondary-color); /* 제목 색상 */
}

.fc .fc-button {
  background-color: var(--primary-color); /* 버튼 배경 색상 */
  color: #fff;
}

.fc .fc-button:hover {
  background-color: var(--secondary-color); /* 버튼 hover 색상 */
}
