/* Global */
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  /* Header */
  --header-height: 72px;
  /* LeftSidebar */
  --leftSidebar-width: 230px;
  --leftSidebarSmall-width: 60px;
  /* RightSidebar */
  --rightSidebar-width: 250px;

  /* Color */
  --color-coral: #e1888b;
  --color-peach: #f0b49c;
  --color-maize: #f5d0a3;
  --color-turquoise-green: #b4fab3;
  --color-pale-blue: #b6cfe2;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-grey: #737373;
  --color-separator: 219, 219, 219;

  /* Font size */
  --font-sm: 0.875rem;
  --font-md: 1rem;
  --font-lg: 1.125rem;
  --font-xl: 1.25rem;
  --font-2xl: 1.5rem;
  --font-3xl: 1.75rem;
  --font-4xl: 2rem;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;
  --space-xl: 2rem;

  /* radius */
  --radius-sm: 0.5rem;
  --radius-md: 1rem;
  --radius-lg: 1.5rem;

  /* z-index */
  --z-0: 0;
  --z-10: 10;
  --z-20: 20;
  --z-30: 30;
  --z-40: 40;
  --z-50: 50;
  --z-60: 60;
  --z-70: 70;
  --z-80: 80;
  --z-90: 90;

  /* Animation */
  --animation-duration: 150ms;

  /* fullCallendar*/
  --fc-small-font-size: 0.8em;
  --fc-page-bg-color: #fff;
  --fc-neutral-bg-color: rgba(208, 208, 208, 0.3);
  --fc-neutral-text-color: #501818;
  --fc-border-color: #ddd;

  --fc-button-text-color: #fff !important;
  --fc-button-bg-color: var(--color-coral) !important;
  --fc-button-border-color: none;
  --fc-button-hover-bg-color: #da696d !important;
  --fc-button-hover-border-color: none;
  --fc-button-active-bg-color: #d85156 !important;
  --fc-button-active-border-color: none;

  --fc-event-bg-color: var(--color-maize);
  --fc-event-border-color: none;
  --fc-event-text-color: #fff;
  --fc-event-selected-overlay-color: rgba(0, 0, 0, 0.25);

  --fc-more-link-bg-color: #d0d0d0;
  --fc-more-link-text-color: inherit;

  --fc-event-resizer-thickness: 8px;
  --fc-event-resizer-dot-total-width: 8px;
  --fc-event-resizer-dot-border-width: 1px;

  --fc-non-business-color: rgba(215, 215, 215, 0.3);
  --fc-bg-event-color: rgb(143, 223, 130);
  --fc-bg-event-opacity: 0.5;
  --fc-highlight-color: rgba(188, 232, 241, 0.3);
  --fc-today-bg-color: rgba(255, 220, 40, 0.15);
  --fc-now-indicator-color: red;
}

/* Universal tags */
* {
  box-sizing: border-box;
  /* Font */
  font-family: "Pretendard-Regular", "맑은 고딕", "Open Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */
h1 {
  font-size: var(--font-4xl);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-3xl);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-2xl);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-md);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

.modalFooter {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.cancelButton,
.saveButton {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.cancelButton {
  background-color: #f0f0f0;
}

.saveButton {
  background-color: #ff4d4d;
  color: white;
}

/* fullCalendar tags */
.fc .fc-day-sat a {
  color: #2f76f9 !important;
}

.fc .fc-day-sun a {
  color: #ff4d4d !important;
}

.fc .fc-media-screen {
  margin-left: 2px;
}

/* 모든 이벤트에 대한 텍스트 정렬 */
.fc-event {
  /* background-color: var(--color-coral); */

  border: none;
}

.fc-event-title,
.fc-event-time {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  width: 100%;
  font-weight: bold;
}

/* 시간 기반 이벤트에 대한 텍스트 정렬 */
.fc-timegrid-event .fc-event-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  width: 100%;
}

.fc-daygrid-dot-event {
  padding: 0px;
  margin: 0px;
}

.fc-event-title-container {
  align-content: center;
}

.fc-daygrid-event-dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #31bd48; /* 점의 색상 */
  text-align: left;
}
.fc-event
  fc-event-draggable
  fc-event-resizable
  fc-event-start
  fc-event-end
  fc-event-today
  fc-daygrid-event
  fc-daygrid-dot-event {
  align-items: center;
  align-content: center;
}
.fc .fc-daygrid-day-top {
  flex-direction: row;
}

.fc-event:hover {
  background-color: #ececec;
}

.fc- .fc-secrollgrid {
  border-color: transparent;
}

/* 셀의 높이를 %로 고정 */
.fc-daygrid-day {
  height: 16%; /* 캘린더 전체에서 각 셀이 차지할 비율 */
  max-height: 100px; /* 최대 높이를 설정해도 됩니다 */
}

/*주 단위 */
.fc .fc-timegrid-divider {
  padding: 0px;
}

/* react select*/
.css-b62m3t-container .css-piclje-control {
  border-color: transparent;
}

.css-1xc3v61-indicatorContainer .css-tj5bde-Svg {
  display: none;
}
.css-1wy0on6 .css-1u9des2-indicatorSeparator {
  display: none;
}
