nav {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  border: 0.5px solid var(--color-coral);
}

.groupListContainer {
  width: 60px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.groupListBtn {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.groupListIcon {
  font-size: var(--font-4xl);
  color: var(--color-coral);
}

.logoContainer {
  width: 150px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: var(--space-md);
}

.logoContainer .logoLink {
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;
}

.logoContainer .logoLink .logo {
  width: 100%;
  height: 30px;
}

.navController {
  width: calc(100% - 270px);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeController {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: var(--space-md);
}

.viewModeController {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-md);
}

.searchController {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: var(--space-md);
  padding: var(--space-md);
}

.profileContainer {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileButton {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.profileImage {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 0.5px solid var(--color-coral);
}
