nav {
  position: fixed;
  width: 100%;
  height: var(--header-height);
  display: flex;
  align-items: center;
  border: 0.5px solid var(--color-white);
  background-color: var(--color-white);
}

.topBar {
  background-color: #fff;
  height: 72px;
}

.groupListContainer {
  width: 60px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 100px;
}

.WeFAMlogo {
  height: 40px;
  width: 190px;
  position: relative;
  left: 30%;
}

.groupNameContainer {
  position: relative;
  text-align: center;
  flex-grow: 1;
}

.groupNameButton {
  /* 가족 그룹명 */
  background: none;
  border: none;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  position: static;
  padding-right: 1.8cm;
  padding-bottom: 0.2cm;
}

.groupListBtn {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.groupListIcon {
  font-size: var(--font-4xl);
  color: black;
}

.modalOverlay {
  /* 모달띄웠을 때 back */
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  /* 그룹 모달 창 */
  position: fixed;
  top: 0%; /* 화면 상단에 고정시키고 아래로 확장될 수 있도록 설정 */
  left: 50%;
  transform: translateX(-50%); /* X축만 중앙으로 이동시키기 */
  background-color: white;
  border-radius: 8px;
  width: 600px;
  max-width: 90%;
  text-align: center;
  padding: 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 60%; /* 모달 창의 최대 높이 설정 */
  overflow-y: auto; /* 내용이 많을 경우 스크롤 가능하도록 설정 */
  z-index: 1000;
}

.modalHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
  background-color: var(--color-white);
  border-radius: 10px 10px 0 0;
}

.modalHeaderTop {
  /* 메인 가족 그룹쪽 css */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.groupProfileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 50px;
  height: 50px;
}
.profileContainer {
  /* 밑에 있는 그룹 */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 50px;
  height: 50px;
}

.closeGroupButton {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  bottom: 15px;
}

.modalBody {
  margin-top: 20px;
  text-align: center;
}

.groupSection {
  /* 밑에 있는 그룹쪽 css */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ddd; /* 구분선 추가 */
}
.groupSection:last-child {
  border-bottom: none; /* 마지막 그룹에는 구분선이 없도록 */
}

.profileImage {
  flex-shrink: 0;
}

.addGroupSection {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #ddd;
  text-align: center;
}

.addGroupButton {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  /* color: #4caf50; */
}

.logoContainer {
  width: 150px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: var(--space-md);
}

.logoContainer .logoLink {
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;
}

.logoContainer .logoLink .logo {
  width: 182px;
  height: 48px;
}

.navController {
  width: calc(100% - 270px);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeController {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: var(--space-md);
}

.viewModeController {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-md);
}

.searchController {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: var(--space-md);
  padding: var(--space-md);
}

.profileButton {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.profileImage {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 0.5px solid var(--color-white);
}
