.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 80%;
  background-color: #ffffff;
  border-radius: 12px;
  margin-top: 40px;
}

.logContainer {
  display: flex;
  /* 좌우로 나눔 */
  width: 100%;
  /* 부모 컨테이너 전체 너비 사용 */
  margin-right: 15px;
}

.pointLog {
  width: 100%;
  border: 1px solid #b8b7b7;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  margin: 0 10px;
}

.completedTaskList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.completedTask {
  display: flex;
  justify-content: space-between; /* 좌우로 요소를 배치 */
  align-items: center; /* 수직으로 가운데 정렬 */
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.completedTaskContent {
  flex: 1;
  text-align: left;
}

.completedTaskDetails {
  text-align: right; /* 완료일과 포인트는 오른쪽 정렬 */
  color: gray;
  font-size: 15px;
}

.completedTask h3 {
  margin: 0;
  font-size: 17px;
  font-weight: bold;
}

.completedTask p {
  margin: 5px 0;
  font-size: 15px;
}

.completedTask span {
  display: block;
  margin: 5px 0;
}

.taskPoints {
  color: #e74c3c;
  font-weight: bold;
  font-size: 15px;
}

.familyPointsContainer {
  width: 100%; /* 섹션의 전체 너비를 줄임 */
  text-align: left;
  padding: 20px;
  border: 1px solid #b8b7b7;
  border-radius: 12px;
}

.familyMember {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
}

.familyMemberImg {
  width: 50px; /* 프로필 이미지의 크기를 줄임 */
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.memberInfo {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  font-weight: bold;
}

.memberInfo span:first-child {
  margin-right: 10px; /* 이름과 포인트 사이 간격 조정 */
}

.buyContainer {
  width: 100%; /* 완료한 작업들과 동일한 너비로 조정 */
  text-align: left;
  padding: 20px;
  border: 1px solid #b8b7b7;
  border-radius: 12px;
  margin-right: 15px;
}

.purchasedRewardsList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.purchasedReward {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.rewardImage {
  width: 100px; /* 이미지 크기 조절 */
  height: 100px;
  border-radius: 12px;
  object-fit: contain;
  margin-right: 20px;
}

.rewardDetails {
  flex: 1;
  text-align: left;
}

.rewardDetails h3 {
  margin: 0;
  font-size: 17px;
  font-weight: bold;
}

.rewardDetails p {
  margin: 5px 0;
  font-size: 15px;
}

.rewardDetails span {
  display: block;
  color: gray;
  font-size: 15px;
}
